#calendar{
  width:40%;
  margin:auto;
}

#calendar tr, #calendar td{
  padding-top:3px;
  padding-bottom:3px;
}

.datelabel{
  background-color:#babdc1;
  width:auto;
}

#buttons{
  width:35%;
  margin:auto;
}

#nextweek, #prevweek{
  background-color: #f2f2f2;
  border: 1px solid black;
  width:25%;
  text-align:center;
  display:inline-block;
  margin:auto;
}

#nextweek{
  float:right;
}

#prevweek{
  float:left;
}
