body {
    margin: 40px auto;
    max-width: 650px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 50px 10px 50px;
}

hr {
    border: none;
    height: 1px;
    background-color: #888;
    margin: 5px;
}

.item {
    margin-bottom: 0px;
    margin-top: 0px;
    padding:0;
    font-size: 10pt;
}

.subtitle {
    padding:0;
    margin-top: 1px;
    margin-bottom: 0px;
    font-size: 8pt;
}

h3 a {
    text-decoration: none;
    color: black;
}

h2 {
    margin-bottom: 8px;
}

img{
  display:block;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
}

video{
  display:block;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
}

.homelink {
    text-align: center;
}
.homelink a{
    color: black;
}